.sc-immigration-service-main-container {
  border-bottom: gray;
  padding: 5px;
  position: absolute;
  border-spacing: 5px;
  top: 108px;
  bottom: 0px;
  overflow-y: auto;
  overflow-x: auto;
  padding-left: 10px;
}

.sc-immigration-text-box {
  font-family: Verdana, Arial, sans-serif;
  font-size: 13px;
  padding: 5px;
  color: grey;
}

.sc-immigration-layer-icon {
  /* display: table-cell; */
  float: right;
  font-size: 10pt;
}

.sc-immigration-container {
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 10px;
  padding-left: 0;
}

.sc-immigration-layer-toggler-label {
  /* display: table-cell; */
  font-size: 10pt;
  width: 50%;
}

.sc-immigration-layer-toggler-label-with-box-container {
  display: table-cell;
  vertical-align: middle;
}

.sc-immigration-layer-toggler-count {
  font-size: 7pt;
  color: #ababab;
}

.sc-immigration-layer-toggler-count-with-box {
  font-size: 7pt;
  color: #ababab;
  display: table-cell;
  padding-left: 8px;
  padding-top: 2px;
}

.sc-immigration-data-container {
  padding: 3px;
}

.sc-immigration-data-list-item {
  padding-top: 7px;
  font-size: 10pt;
  cursor: pointer;
}

.sc-immigration-data-list-header {
  padding-right: 30px 30px 30px 30px;

  color: #373737;
  font-weight: bold;
  font-family: Verdana, Arial, sans-serif;
  font-size: 12px;
  display: table;
  width: 94%;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  background-position-x: 97%;
  cursor: pointer;
  user-select: none;
}

.sc-immigration-data-list-header.open {
  padding-right: 10px;
  color: #373737;
  font-weight: bold;
  font-family: Verdana, Arial, sans-serif;
  font-size: 12px;
  display: table;
  background-color: #f7f7f7;
  width: 94%;
  height: auto;
  border-bottom: 1px solid #ddd;
  background-position-x: 97%;
  cursor: pointer;
  user-select: none;
}

.sc-immigration-data-list-item-container {
  font-style: italic;
  color: #808080;
  font-size: 11px;
  padding: 5px;
  border-left: 3px solid rgba(255, 0, 0, 0.5);
  padding-left: 10px;
}
