.sc-theme-immigration-service-main-container {
  font-family: Arial, Helvetica, sans-serif;
  color: grey;
  font-size: 13px;
  border-bottom: gray;
  padding: 20px;
  position: absolute;
  border-spacing: 5px;
  text-align: initial;
  height: 550px;
  width: 330px;
  overflow-y: auto;
  overflow-x: auto;
}

,
.sc-immigration-container {
  position: absolute;
  overflow: auto;
  top: 50px;
  bottom: 0px;
  width: 97%;
}
